{% extends 'shared/base.html' %}
{% load static %}
{% include 'partials/_menu'%}

{% block content %}
            <section class="galeria">
                <form action="{% url 'login' %}" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        {% for field in form.visible_fields %}
                        <div class="col-12 col-lg-12">
                            <label for="{{ field.id_for_label }}" style="color:#D9D9D9;">{{field.label}}</label>
                            {{ field }}
                        </div>
                        {% endfor %}                        
                        <div>
                            <button class="btn btn-success col-12" style="padding: top 5px;" type="submit">Logar</button>
                        </div>
                    </div>
                </form>
            </section>
        </main>
    </div>
{% endblock %}
